@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-our-primary: #FAC3A4;
    --color-our-secondary: #F78E76;
    --color-our-black: #292420;
    --color-our-white: #F9F9F0;
    --text-our-lg: 96px;
    --text-our-md: 32px;
    --text-our-sm: 24px;
}